
h1 {
  margin: 0;
  height: 1.2vmin;
  width: 12vmin;
  display: flex;
  justify-content: center;
  position: relative;
}

h1::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: -2vmin;
  left: 2.9vmin;
  width: 6.3vmin;
  height: 6.3vmin;
  border-radius: 50%;
  border: .3vmin solid currentColor;
  box-sizing: border-box;
}

em {
  font-family: 'Josefin Sans', sans-serif;
  color: currentColor;
  font-size: 2.5vmin;
  position: relative;
  font-style: normal;
  width: 2vmin;
  text-align: center;
}

em.planet {
  -webkit-animation: planet-rotate 4s linear infinite;
  animation: planet-rotate 4s linear infinite;
  position: relative;
  text-align: center;
  font-size: 2.8vmin;
}

em.planet::before {
  content: "";
  position: absolute;
  top: -.1vmin;
  left: 4vmin;
  z-index: -1;
  width: 2vmin;
  height: 2vmin;
}


em.planet.left {
  -webkit-transform-origin: 4.5vmin 1vmin;
  transform-origin: 4.5vmin 1vmin;
  width: .8em;
  height: .8em;
  border-radius: 50%;
  background: #313131;

}

em.planet.right {
  -webkit-transform-origin: -2vmin 1vmin;
  transform-origin: -2vmin 1vmin;
  width: .8em;
  height: .8em;
  border-radius: 50%;
  background: #313131;
}

@-webkit-keyframes planet-rotate {
  to {
    -webkit-transform: rotate(1turn);
  }
}

@keyframes planet-rotate {
  to {
    transform: rotate(1turn);
  }
}
