<section id="sobre" class="acerca section vh-100">
  <div class="d-flex justify-content-center">
    <h2 class="titulo-section">Sobre Mi</h2>
    <button class="button-edit"><fa-icon [icon]="faPenToSquare"></fa-icon></button>
  </div>
  <div class="acerca-container container grid">
      <img src="./assets/gimenaBugiolachio.jpg" alt="" class="img-fluid acerca-img">
      <div class="acerca-data">
          <h3 class="acerca-titulo">Hola, soy Gimena</h3>
          <p class="acerca-descripcion"> Te voy a contar un poco sobre mi para que puedas conocerme.
               Arranqué con curiosidad por la programación allá por el 2012, con un curso de Visual Basic y hoy soy desarrolladora Full Stack.
               <br>
               Me apasiona y desafía aprender cosas nuevas. El mundo de la programación es muy amplio y constantemente surgen nuevas tecnologías, nuevas versiones o nuevas herramientas. Este constante cambio hace que siempre tenga ganas de superarme.
               <br>
               No lo sé todo, pero te puedo asegurar que voy a ser insistente. Voy a investigar, preguntar y no voy a parar hasta aprender lo que necesito.
              </p>
          <div class="buttons-acerca">
              <a href="#contacto" class="button">
                  <fa-icon [icon]="faPaperPlane"></fa-icon>Contactame
              </a>
              <a href="./assets/Gimena Bugiolachio .pdf" download class="button">
                  <fa-icon [icon]="faFileLines"></fa-icon>Desacargar CV
              </a>
          </div>
      </div>
  </div>
</section>
