<section id="sobreMi" class="acerca section2">
  <div data-aos="zoom-in-up" class="d-flex justify-content-center">
    <h2 class="h2 titulo-section">Sobre Mi</h2>
  </div>
  <div class="row sobre-container">
    <div data-aos="fade-down-right" data-aos-delay="200" class="col-xs-12 col-sm-4 col-lg-4 col-md-4 imagen">
      <img src="./assets/Medio cuerpo.png" alt="Imagen de Perfil de Gimena" class="img-fluid acerca-img">
    </div>
    <div data-aos="fade-up-left" data-aos-delay="300" class="acerca-data col-xs-12 col-sm-8 col-lg-8 col-md-8">
      <div class="card">
        <p class="acerca-descripcion">¡Hola! Soy estudiante de Tecnologías de la Información con experiencia
          en Desarrollo Full Stack, Java y Data Analytics. Estoy emocionada de comenzar mi carrera
          profesional en el campo de la tecnología y estoy comprometida a desarrollar mis habilidades y conocimientos
          para estar preparada para cualquier desafío que se presente. Me considero una persona proactiva y
          autodidacta que disfruta trabajando en equipo y aprendiendo de los demás. ¡Estoy segura de que puedo
          aportar valor al equipo que me acepte!
        </p>
      </div>
      <div class="button-acerca">
        <a data-aos="fade-down-left" data-aos-delay="500" href="./assets/Gimena Bugiolachio .pdf" download
          class="button">
          Descargar CV<fa-icon [icon]="faFileLines"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</section>

