.skills-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.skills-content {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 2rem 3rem;
  border-radius: 1.25rem;
  background: rgba(255, 255, 255, 0.13);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  margin-left: 1em;
}

.skills-group {
  display: grid;
  align-items: flex-start;
  row-gap: 1rem;
}

.skills-box {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.skills-title {
  font-weight: 200;
  text-align: center;
  margin-bottom: 1.5em;
}

.skills-data {
  display: flex;
  column-gap: 0.5rem;
}

.skills-name{
  font-size: small;
    font-weight: 500;
    line-height: 18px;
}

fa-icon,
span{
  color: #D49BB0;
}

@media only screen and (max-width: 400px) {
 .skills-container{
  flex-direction: column;
 }

 .skills-content{
  margin-bottom: 1em;
 }
}
