<section id="skills" class="skills section vh-100">
  <div data-aos="zoom-in-up" class="d-flex justify-content-center">
    <h2 class="h2 titulo-section">Hard & Soft Skills</h2>
    <button *ngIf="isLogged" class="button-plus"><fa-icon [icon]="faCirclePlus"></fa-icon></button>
    <button *ngIf="isLogged" class="button-edit"><fa-icon [icon]="faPenToSquare"></fa-icon></button>
  </div>
  <div class="skills-container">
    <div class="hard-skills">
      <div data-aos="flip-left" class="cards">
        <div class="icono">
          <a href="https://developer.mozilla.org/es/docs/Web/HTML" target="_blank">
            <div class="card">
              <fa-icon class="icon-hs" [icon]="html"></fa-icon>
              <h3 class="titulo-hs">HTML</h3>
            </div>
          </a>
        </div>
      </div>
      <div data-aos="flip-left" class="cards">
        <div class="icono">
          <a href="https://developer.mozilla.org/es/docs/Web/CSS" target="_blank">
            <div class="card">
              <fa-icon class="icon-hs" [icon]="css"></fa-icon>
              <h3 class="titulo-hs">CSS</h3>
            </div>
          </a>
        </div>
      </div>
      <div data-aos="flip-left" class="cards">
        <div class="icono">
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
            <div class="card">
              <fa-icon class="icon-hs" [icon]="js"></fa-icon>
              <h3 class="titulo-hs">JAVASCRIPT</h3>
            </div>
          </a>
        </div>
      </div>
      <div data-aos="flip-left" class="cards">
        <div class="icono">
          <a href="https://angular.io/" target="_blank">
            <div class="card">
              <fa-icon class="icon-hs" [icon]="angular"></fa-icon>
              <h3 class="titulo-hs">ANGULAR</h3>
            </div>
          </a>
        </div>
      </div>
      <div data-aos="flip-left" class="cards">
        <div class="icono">
          <a href="https://getbootstrap.com/" target="_blank">
            <div class="card">
              <fa-icon class="icon-hs" [icon]="bootstrap"></fa-icon>
              <h3 class="titulo-hs">BOOTSTRAP</h3>
            </div>
          </a>
        </div>
      </div>
      <div data-aos="flip-left" class="cards">
        <div class="icono">
          <a href="https://docs.oracle.com/en/java/" target="_blank">
            <div class="card">
              <fa-icon class="icon-hs" [icon]="java"></fa-icon>
              <h3 class="titulo-hs">JAVA</h3>
            </div>
          </a>
        </div>
      </div>
      <div data-aos="flip-left" class="cards">
        <a href="https://dev.mysql.com/doc/" target="_blank">
          <div class="card">
            <fa-icon class="icon-hs" [icon]="mysql"></fa-icon>
            <h3 class="titulo-hs">MySQL</h3>
          </div>
        </a>
      </div>
      <div data-aos="flip-left" class="cards">
        <div class="icono">
          <a href="https://helpx.adobe.com/illustrator/user-guide.html" target="_blank">
            <div class="card">
              <fa-icon class="icon-hs" [icon]="diseno"></fa-icon>
              <h3 class="titulo-hs">ILLUSTRATOR</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="soft-skills">
      <div class="cards-container">
        <div data-aos="zoom-in-down" data-aos-delay="100" class="card-ss">
          <h4>Creatividad</h4>
          <fa-icon class="icon-ss" [icon]="idea"></fa-icon>
        </div>
        <div data-aos="zoom-in-down" data-aos-delay="200" class="card-ss">
          <h4>Resolución de problemas</h4>
          <fa-icon class="icon-ss" [icon]="resolucion"></fa-icon>
        </div>
        <div data-aos="zoom-in-down" data-aos-delay="300" class="card-ss">
          <h4>Trabajo en equipo</h4>
          <fa-icon class="icon-ss" [icon]="equipo"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</section>
