<section id="skills" class="skills section1">
  <div data-aos="zoom-in-up" class="d-flex justify-content-center">
    <h2 class="titulo-section">Skills</h2>
  </div>
    <div class="skills-container container">
      <div class="skills-content">
        <h3 class="skills-title">Desarrollo Web</h3>
        <div class="skills-box">
          <div class="skills-group">
            <div class="skills-data"><fa-icon [icon]="angular"></fa-icon>
              <div>
                <h3 class="skills-name">Angular</h3>
              </div>
            </div>
            <div class="skills-data"><fa-icon [icon]="nodejs"></fa-icon>
              <div>
                <h3 class="skills-name">NodeJS</h3>
              </div>
            </div>
            <div class="skills-data"><fa-icon [icon]="java"></fa-icon>
              <div>
                <h3 class="skills-name">Java</h3>
              </div>
            </div>
          </div>
          <div class="skills-group">
            <div class="skills-data"><fa-icon [icon]="js"></fa-icon>
              <div>
                <h3 class="skills-name">JavaScript</h3>
              </div>
            </div>
            <div class="skills-data"><fa-icon [icon]="bootstrap"></fa-icon>
              <div>
                <h3 class="skills-name">Bootstrap</h3>
              </div>
            </div>
            <div class="skills-data"><fa-icon [icon]="mysql"></fa-icon>
              <div>
                <h3 class="skills-name">MySQL</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="skills-content">
        <h3 class="skills-title">Análisis de Datos</h3>
        <div class="skills-box">
          <div class="skills-group">
            <div class="skills-data"><span class="material-symbols-outlined">
                analytics
              </span>
              <div>
                <h3 class="skills-name">Google Analytics</h3>
              </div>
            </div>
            <div class="skills-data"><span class="material-symbols-outlined">
                bar_chart
              </span>
              <div>
                <h3 class="skills-name">Tableau</h3>
              </div>
            </div>
            <div class="skills-data"><span class="material-symbols-outlined">
                monitoring
              </span>
              <div>
                <h3 class="skills-name">Power BI</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
