.skills-container {
  position: relative;
  top: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-ss {
  font-size: calc(.9em + .8vw);
}

.titulo-hs {
  font-size: calc(.4em + .3vw);
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.soft-skills {
  padding:0 4em;
  width: 100%;
}

.hard-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 2fr);
  gap: 2em;
  width: 70vw;
  backdrop-filter: blur(5px);
  border-radius: 1em;
  padding: 2em 4em;
  justify-content: center;
  align-items: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1.8em;
  align-items: center;
  justify-content: center;
}

.card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  overflow: hidden;
  backdrop-filter: blur(1rem);
  background-color: #313131;
  width: 8rem;
  margin: 0 auto;
  border-radius: 15px;
  color: #f3f3f3;
  -webkit-backdrop-filter: blur(.5rem);
  padding: .5em;
}

.card:hover {
  border: 1px solid #D9A0BB;
}

.cards a {
  text-decoration: none;
  color: #f3f3f3;
}

.card-ss {
  width: 15rem;
  height: 6rem;
  border-radius: 1em;
  background-color: #313131;
  margin-left: 2em;
  padding: .5em;
  text-align: center;
  box-shadow: 0 10px 20px #00000080;
}

.card-ss:hover {
  border: 1px solid #D49BB0;
}

.card-ss h4 {
  font-size: 1.3vw;
  margin-bottom: 1em;
}

.icon-hs {
  font-size: calc(.9em + .8vw);
  color: #f3f3f3;
}
