<section id="inicio" class="inicio section">
  <div data-aos="fade-right" class="inicio-container container grid">
    <div class="inicio-social">
      <div class="inicio-social-links col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <a data-aos="zoom-in-down" data-aos-delay="100" href="https://www.facebook.com/Gimena.Bugiolachio"
          target="_blank" class="inicio-social-link icon-facebook icon">
          <fa-icon [icon]="faFacebook"></fa-icon>
        </a>
        <a data-aos="zoom-in-down" data-aos-delay="200" href="https://www.instagram.com/gimenabugiolachio/"
          target="_blank" class="inicio-social-link icon-instagram icon">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
        <a data-aos="zoom-in-down" data-aos-delay="300" href="https://github.com/gimenabugiolachio" target="_blank"
          class="inicio-social-link icon-github icon">
          <fa-icon [icon]="faGithub"></fa-icon>
        </a>
        <a data-aos="zoom-in-down" data-aos-delay="400" href="https://twitter.com/GimenaBugiolac1" target="_blank"
          class="inicio-social-link icon-twitter icon">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
        <a data-aos="zoom-in-down" data-aos-delay="500" href="https://www.linkedin.com/in/gimena-bugiolachio-55887969/"
          target="_blank" class="inicio-social-link icon-linkedin icon">
          <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>
      </div>
      <div class="foto-container">
        <img src="./assets/gimenaBugiolachio.jpg" alt="Imagen de Perfil de Gimena" class="img-fluid perfil">
      </div>
    </div>
    <div class="inicio-data col-xs-12 col-sm-12 col-lg-12 col-md-12">
      <h1 data-aos="fade-right" data-aos-delay="100" class="h1 inicio-titulo">Hola, mi nombre es Gimena.</h1>
      <div id="typewriter">
        <p>Soy <span class="gradient-text">{{text}}</span></p>
      </div>
    </div>
    <div class="botton-container col-xs-12 col-sm-12 col-lg-12 col-md-12">
      <a data-aos="fade-right" data-aos-delay="200" href="#sobreMi" aria-current="page" href="#"
        [routerLink]="['/acerca']" class="button mas-info">
      Más info</a>
      <a data-aos="fade-right" data-aos-delay="300" href="#contacto" class="button mas-info">Contactame</a>
    </div>
  </div>
</section>
