.inicio{
  width: 100%;
  min-height: 100vh;
  height: auto;
  overflow: hidden;
  position: relative;
  background-image: url('src/assets/fon-01.png');
  background-size: cover;
  background-position: center;
}

.text{
  position: relative;
  top: 16em;
  left: 1em;
  display: flex;
  flex-direction: column;
}

.inicio-data{
  margin-bottom: 2em;
}

.botton-container{
  display: flex;
  justify-content: space-around;
  width: 20em;
}

a{
  text-decoration: none;
}

@media only screen and (max-width: 400px){
.inicio-titulo{
  font-size: 4.5vw;
}

#typewriter{
  font-size: 3.5vw;
}

.botton-container{
  width: 15em;
  position: relative;
  top: -2em;
}
}
