<section id="inicio" class="inicio">
  <div data-aos="fade-right" class="inicio-container container">
    <video autoplay muted loop class="videoInicio">
      <!--<source src="./assets/_import_61b44185d3a477.52117938.mp4">-->
      <source src="./assets/video.mp4">
    </video>
    <div class="text">
      <div class="inicio-data col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <h1 data-aos="fade-right" data-aos-delay="100" class="h1 inicio-titulo">Hola, mi nombre es Gimena. </h1>
        <div id="typewriter">
          <p>Soy <span class="gradient-text">{{text}}</span></p>
        </div>
      </div>
      <div class="botton-container col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <a data-aos="fade-right" data-aos-delay="200" href="#sobreMi" aria-current="page" href="#"
          [routerLink]="['/acerca']" class="button mas-info">
        Más info <span class="material-symbols-outlined">
          info
          </span></a>
        <a data-aos="fade-right" data-aos-delay="300" href="#contacto" class="button mas-info">Contactame<span class="material-symbols-outlined">
          forward_to_inbox
          </span></a>
      </div>
    </div>

  </div>
</section>
