ul{
  padding: 0;
}

.cards-container{
  position: relative;
  top: 2em;
}

.educacion-cards{
  display: grid;
  grid-template-columns:  repeat(2, 1fr);
  justify-items: center;
}

.educacion-card {
  position: relative;
  border-radius: 1em;
  overflow: hidden;
  width: 40vw;
  display: flex;
  flex-direction: row;
  height: 115px;
  list-style: none;
  list-style-type: none;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5) ;
  margin: 1em 0;
  transition: all .3s;
}

.educacion-card:hover {
  transition: all 500ms ease;
  background-color: #5A4F73;
  box-shadow: 0 0 0  1px #a091c4
}

.educacion-card-img {
  height: 100px;
}
.educacion-card-img>img {
  object-fit: cover;
  height: 115px;
}

.content{
  position: relative;
  bottom: 1em;
}

.educacion-card-content {
  padding: .9em;
  width: 100%;
}

.educacion-card-content h3 {
  font-size: calc(.6em + .3vw);
}

.text {
  color: #c2c0c0;
  font-size: calc(.4em + .3vw);
  letter-spacing: 1px;
  margin-bottom: 0.5em;
}

.fechas{
  font-size: calc(.4em + .3vw);
  position: relative;
  top: -.5em;
}

.certi{
  text-decoration: none;
  color: #D49BB0;
  font-size: calc(.5em + .4vw);
  display: flex;
  align-items: center;
  column-gap: .25em;
  cursor: pointer;
}

.icon-form{
  position: relative;
  top: .1em;
  font-size: calc(.6em + .5vw);
  transition: .3s;
}

.certi:hover .icon-form{
  transform: translateX(.25em);
}


@media only screen and (max-width: 400px){
  .educacion-cards{
    margin-top: -2em;
  }
}
