<section id="formacion" class="formacion section vh-100">
  <div data-aos="zoom-in-up" class="d-flex justify-content-center">
    <h2 class="h2 titulo-section">Formación</h2>
    <button *ngIf="isLogged" class="button-plus"><fa-icon [icon]="faCirclePlus"></fa-icon></button>
  </div>
  <div class="cards-container">
    <ul class="educacion-cards">
      <li data-aos="fade-down-right" data-aos-delay="100" class="educacion-card">
        <div class="educacion-card-img">
            <img src="./assets/agen.jpg" alt="Imagen de Institucion">
        </div>
        <div class="educacion-card-content">
            <h3 class="h3" id="nombre">Agencia de Aprendizaje</h3>
            <p class="text">Tecnicatura Superior en Desarrollo de Software</p>
            <span class="fechas">01/2023 a actualidad</span>
            <p><a target="_blank" class="certi" href="https://jamus.co.uk/demos/rwd-demonstrations/">Ver más</a></p>

        </div>
        <div class="buttons">
            <button *ngIf="isLogged" routerLink="" >
                <fa-icon [icon]="faPenToSquare" class="icon"></fa-icon>
            </button>
            <button *ngIf="isLogged">
                <fa-icon [icon]="faTrashCan" class="icon"></fa-icon>
            </button>
        </div>
    </li>
      <li data-aos="fade-down-right" data-aos-delay="100" class="educacion-card">
        <div class="educacion-card-img">
            <img src="./assets/IALAB.jpg" alt="Imagen de Institucion">
        </div>
        <div class="educacion-card-content">
            <h3 class="h3" id="nombre">UBA IALAB</h3>
            <p class="text">Formación en datos e IA</p>
            <span class="fechas">12/2022 a actualidad</span>
            <p><a target="_blank" class="certi" href="https://jamus.co.uk/demos/rwd-demonstrations/">Ver más</a></p>

        </div>
        <div class="buttons">
            <button *ngIf="isLogged" routerLink="" >
                <fa-icon [icon]="faPenToSquare" class="icon"></fa-icon>
            </button>
            <button *ngIf="isLogged">
                <fa-icon [icon]="faTrashCan" class="icon"></fa-icon>
            </button>
        </div>
    </li>
        <li data-aos="fade-up-left" data-aos-delay="100" class="educacion-card">
            <div class="educacion-card-img">
                <img src="./assets/UTN-LOGO.jpg" alt="Imagen de Institucion">
            </div>
            <div class="educacion-card-content">
              <h3 class="h3" id="nombre">Universidad Tecnológica Nacional</h3>
              <p class="text">Desarrollo en Java</p>
              <span class="fechas">10/2022 a 12/2022</span>
              <p><a target="_blank" class="certi" href="https://jamus.co.uk/demos/rwd-demonstrations/">Ver más</a></p>

            </div>
            <div class="buttons">
                <button *ngIf="isLogged" routerLink="" >
                    <fa-icon [icon]="faPenToSquare" class="icon"></fa-icon>
                </button>
                <button *ngIf="isLogged">
                    <fa-icon [icon]="faTrashCan" class="icon"></fa-icon>
                </button>
            </div>
        </li>
        <li data-aos="fade-down-right" data-aos-delay="200" class="educacion-card">
          <div class="educacion-card-img">
              <img src="./assets/blue.jpg" alt="Imagen de Institucion">
          </div>
          <div class="educacion-card-content">
            <h3 class="h3" id="nombre">DataSchool - BluePatagon</h3>
            <p class="text">Data Analytics Tableau</p>
            <span class="fechas">10/2022 a 12/2022</span>
            <p><a target="_blank" class="certi" href="https://jamus.co.uk/demos/rwd-demonstrations/">Ver más</a></p>
          </div>
          <div class="buttons">
              <button *ngIf="isLogged" routerLink="" >
                  <fa-icon [icon]="faPenToSquare" class="icon"></fa-icon>
              </button>
              <button *ngIf="isLogged">
                  <fa-icon [icon]="faTrashCan" class="icon"></fa-icon>
              </button>
          </div>
      </li>
      <li data-aos="fade-up-left" data-aos-delay="200" class="educacion-card">
        <div class="educacion-card-img">
            <img src="./assets/YoProgramoAP.jpg" alt="Imagen de Institucion">
        </div>
        <div class="educacion-card-content">
          <h3 class="h3" id="nombre">Argentina Programa</h3>
          <p class="text">Desarrollo Web Full Stack</p>
          <span class="fechas">02/2022 a 10/2022</span>
          <p><a target="_blank" class="certi" href="https://jamus.co.uk/demos/rwd-demonstrations/">Ver más</a></p>
        </div>
        <div class="buttons">
            <button *ngIf="isLogged" routerLink="" >
                <fa-icon [icon]="faPenToSquare" class="icon"></fa-icon>
            </button>
            <button *ngIf="isLogged">
                <fa-icon [icon]="faTrashCan" class="icon"></fa-icon>
            </button>
        </div>
    </li>
    <li data-aos="fade-down-right" data-aos-delay="300" class="educacion-card">
      <div class="educacion-card-img">
          <img src="./assets/unpaz-logo.jpg" alt="Imagen de Institucion">
      </div>
      <div class="educacion-card-content">
        <h3 class="h3" id="nombre">UNPAZ</h3>
        <p class="text">Licenciatura en Tecnologías de la Información</p>
        <span class="fechas">03/2020 a actualidad</span>
        <p><a target="_blank" class="certi" href="https://jamus.co.uk/demos/rwd-demonstrations/">Ver más</a></p>
      </div>
      <div class="buttons">
          <button *ngIf="isLogged" routerLink="" >
              <fa-icon [icon]="faPenToSquare" class="icon"></fa-icon>
          </button>
          <button *ngIf="isLogged">
              <fa-icon [icon]="faTrashCan" class="icon"></fa-icon>
          </button>
      </div>
  </li>
    </ul>
</div>
</section>
