<section id="formacion" class="formacion section vh-100">
  <h2 class="titulo-section">Formación</h2>
  <div class="cards-container">
    <ul class="educacion-cards">
      <li class="educacion-card">
        <div class="educacion-card-img">
            <img src="./assets/IALAB.png" alt="Imagen de Institucion">
        </div>
        <div class="educacion-card-content">
            <h3 id="nombre">UBA IALAB</h3>
            <p class="text">Formación en datos e IA</p>
            <span class="fechas">12/2022 a actualidad</span>
            <span class="text">
               <a href=""></a>
            </span>
        </div>
        <div class="buttons">
            <button routerLink="" >
                <fa-icon [icon]="faPenToSquare" class="icon"></fa-icon>
            </button>
            <button>
                <fa-icon [icon]="faTrashCan" class="icon"></fa-icon>
            </button>
        </div>
    </li>
        <li class="educacion-card">
            <div class="educacion-card-img">
                <img src="./assets/UTN-LOGO.jpg" alt="Imagen de Institucion">
            </div>
            <div class="educacion-card-content">
                <h3 id="nombre">Univertidad Tecnológica Nacional</h3>
                <p class="text">Desarrollo en Java</p>
                <span class="fechas">10/2022 al 12/2022</span>
                <span class="text">
                   <a href=""></a>
                </span>
            </div>
            <div class="buttons">
                <button routerLink="" >
                    <fa-icon [icon]="faPenToSquare" class="icon"></fa-icon>
                </button>
                <button>
                    <fa-icon [icon]="faTrashCan" class="icon"></fa-icon>
                </button>
            </div>
        </li>
        <li class="educacion-card">
          <div class="educacion-card-img">
              <img src="./assets/blue.jpg" alt="Imagen de Institucion">
          </div>
          <div class="educacion-card-content">
              <h3 id="nombre">DataBrotes - DataSchool</h3>
              <p class="text">Data Analytics Tableau</p>
              <span class="fechas">10/2022 al 12/2022</span>
              <span class="text">
                 <a href=""></a>
              </span>
          </div>
          <div class="buttons">
              <button routerLink="" >
                  <fa-icon [icon]="faPenToSquare" class="icon"></fa-icon>
              </button>
              <button>
                  <fa-icon [icon]="faTrashCan" class="icon"></fa-icon>
              </button>
          </div>
      </li>
      <li class="educacion-card">
        <div class="educacion-card-img">
            <img src="./assets/YoProgramoAP.jpg" alt="Imagen de Institucion">
        </div>
        <div class="educacion-card-content">
            <h3 id="nombre">Argentina Programa</h3>
            <p class="text">Desarrollo Full Stack</p>
            <span class="fechas">02/2022 al 10/2022</span>
            <span class="text">
               <a href=""></a>
            </span>
        </div>
        <div class="buttons">
            <button routerLink="" >
                <fa-icon [icon]="faPenToSquare" class="icon"></fa-icon>
            </button>
            <button>
                <fa-icon [icon]="faTrashCan" class="icon"></fa-icon>
            </button>
        </div>
    </li>
    <li class="educacion-card">
      <div class="educacion-card-img">
          <img src="./assets/unpaz-logo.jpg" alt="Imagen de Institucion">
      </div>
      <div class="educacion-card-content">
          <h3 id="nombre">Univertidad Nacional de José C. Paz</h3>
          <p class="text">Licenciatura en Tecnologías de la Información</p>
          <span class="fechas">03/2020 a actualidad</span>
          <span class="text">
             <a href=""></a>
          </span>
      </div>
      <div class="buttons">
          <button routerLink="" >
              <fa-icon [icon]="faPenToSquare" class="icon"></fa-icon>
          </button>
          <button>
              <fa-icon [icon]="faTrashCan" class="icon"></fa-icon>
          </button>
      </div>
  </li>
    </ul>
</div>
</section>
