<section id="formacion" class="formacion section vh-100">
  <h2 class="titulo-section">Formación</h2>

  <body>
    <div class="cards-container">
      <div class="card">
        <div class="card-encabezado">
          <img src="./assets/blue.jpg" alt="">
        </div>
        <div class="card-iconos">
          <li class="agrandar button"><a href="#" target="_blank">
              <fa-icon [icon]="faGlobe" class="icon agrandar"></fa-icon>
            </a></li>
          <li class="agrandar button"><a href="#" target="_blank">
              <fa-icon [icon]="faFacebook" class="icon agrandar"></fa-icon>
            </a></li>
        </div>
        <div class="card-contenido">
          <div class="info-personal institucion desplazar">
            <p>Blue Patagon</p>
          </div>
          <div class="info-personal titulo desplazar">
            <p>Data Analytics Tableau</p>
          </div>
          <div class="info-personal fecha desplazar">
            <fa-icon [icon]="faCalendarDays"></fa-icon>
            <p>10/2022 a Actualidad</p>
          </div>
        </div>
        <div class="card-acciones">
          <button class="botones button agrandar">
            Enviar
          </button>
        </div>
      </div>
      <div class="card">
        <div class="card-encabezado">
          <img src="./assets/UTN-LOGO.jpg" alt="">
        </div>
        <div class="card-iconos">
          <li class="agrandar button"><a href="#" target="_blank">
              <fa-icon [icon]="faGlobe" class="icon agrandar"></fa-icon>
            </a></li>
          <li class="agrandar button"><a href="#" target="_blank">
              <fa-icon [icon]="faFacebook" class="icon agrandar"></fa-icon>
            </a></li>
        </div>
        <div class="card-contenido">
          <div class="info-personal institucion desplazar">
            <p>Universidad Tecnológica Nacional</p>
          </div>
          <div class="info-personal titulo desplazar">
            <p>Desarrollo en Java</p>
          </div>
          <div class="info-personal fecha desplazar">
            <fa-icon [icon]="faCalendarDays"></fa-icon>
            <p>09/2022 a 11/2022</p>
          </div>
        </div>
        <div class="card-acciones">
          <button class="botones button agrandar">
            Enviar
          </button>
        </div>
      </div>
      <div class="card">
        <div class="card-encabezado">
          <img src="./assets/unpaz-logo.jpg" alt="">
        </div>
        <div class="card-iconos">
          <li class="agrandar button"><a href="#" target="_blank">
              <fa-icon [icon]="faGlobe" class="icon agrandar"></fa-icon>
            </a></li>
          <li class="agrandar button"><a href="#" target="_blank">
              <fa-icon [icon]="faFacebook" class="icon agrandar"></fa-icon>
            </a></li>
        </div>
        <div class="card-contenido">
          <div class="info-personal institucion desplazar">
            <p>Universidad Nacional de José C Paz</p>
          </div>
          <div class="info-personal titulo desplazar">
            <p>Licenciatura en Tecnologías de la Información</p>
          </div>
          <div class="info-personal fecha desplazar">
            <fa-icon [icon]="faCalendarDays"></fa-icon>
            <p>03/2020 a Actualidad</p>
          </div>
        </div>
        <div class="card-acciones">
          <button class="botones button agrandar">
            Enviar
          </button>
        </div>
      </div>
      <div class="card">
        <div class="card-encabezado">
          <img src="./assets/YoProgramoAP.jpg" alt="">
        </div>
        <div class="card-iconos">
          <li class="agrandar button"><a href="#" target="_blank">
              <fa-icon [icon]="faGlobe" class="icon agrandar"></fa-icon>
            </a></li>
          <li class="agrandar button"><a href="#" target="_blank">
              <fa-icon [icon]="faFacebook" class="icon agrandar"></fa-icon>
            </a></li>
        </div>
        <div class="card-contenido">
          <div class="info-personal institucion desplazar">
            <p>Argentina Programa</p>
          </div>
          <div class="info-personal titulo desplazar">
            <p>Desarrollo Full Stack</p>
          </div>
          <div class="info-personal fecha desplazar">
            <fa-icon [icon]="faCalendarDays"></fa-icon>
            <p>02/2022 al 10/2022</p>
          </div>
        </div>
        <div class="card-acciones">
          <button class="botones button agrandar">
            Enviar
          </button>
        </div>
      </div>
    </div>
  </body>

</section>
