.img-contacto{
  position: absolute;
}

.img-fluid{
  position: relative;
  left: 28em;
  top: -2em;
  height: 20em;
  animation: move 5s linear infinite;
}

@keyframes move{
  0%, 100%{
    transform: translateY(10px);
  }
  50%{
    transform: translateY(-15px);
  }
}

.contacto-container {
  display: flex;
  flex-direction: row;
  column-gap: 10em;
  justify-content: center;
  align-items: center;
  margin-top: 7em;
}

.contacto-info {
  display: grid;
  row-gap: 2em;
  margin-top: 2em;
}

.contacto-card {
  position: relative;
  top: -2em;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5) ;
  padding: .4em;
  width: 15em;
  border-radius: .5em;
  text-align: center;
}

.icono-card {
  font-size: calc(.8em + .7vw);
  position: relative;
  top: .5em;
}

.titulo,
.subtitulo {
  font-size: calc(.5em + .5vw);
}

.titulo {
  position: relative;
  top: 1em;
}

.redes-link {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.5rem;
}

.redes-link a {
  text-decoration: none;
  font-size: 1.3vw;
  color: #f3f3f3;
  margin-bottom: 1em;
}

.icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  outline: 2px solid #f3f3f3;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: .25s;
}

.icon:hover {
  outline-offset: 2px;
}

.icon:hover {
  transform: translateY(-5px);
}

.icon-instagram:hover {
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  outline-color: #ff0080;
}

.icon-facebook:hover {
  background-color: #3b5998;
  outline-color: #3b5998;
}

.icon-github:hover {
  background-color: #4c2882;
  outline-color: #4c2882;
}

.icon-twitter:hover {
  background-color: #00acee;
  outline-color: #00acee;
}

.icon-linkedin:hover {
  background-color: #0072b1;
  outline-color: #0072b1;
}
.subtitulo {
  display: block;
  margin-bottom: .75em;
}

.contacto-button {
  text-decoration: none;
  color: #D49BB0;
  font-size: calc(.5em + .4vw);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .25em;
  cursor: pointer;
}

.contacto-button-icon {
  font-size: calc(.6em + .5vw);
  transition: .3s;
}

.contacto-button:hover .contacto-button-icon {
  transform: translateX(.25em);
}


@media only screen and (max-width: 400px) {
  .contacto-container {
    flex-direction: column;
  }
}
