<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <div class="redes-link">
        <a class="icon icon-facebook" href="https://www.facebook.com/Gimena.Bugiolachio" target="_blank">
            <fa-icon [icon]="faFacebook"></fa-icon>
        </a>
        <a class="icon icon-instagram" href="https://www.instagram.com/gimenabugiolachio/" target="_blank">
            <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
        <a class="icon icon-github" href="https://github.com/gimenabugiolachio" target="_blank">
            <fa-icon [icon]="faGithub"></fa-icon>
        </a>
        <a class="icon icon-twitter" href="https://twitter.com/GimenaBugiolac1" target="_blank">
            <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
        <a class="icon icon-linkedin" href="https://www.linkedin.com/in/gimena-bugiolachio-55887969/"
            target="_blank">
            <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>
    </div>
    </section>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Todos los derechos reservados © 2022
    <span>Gimena Bugiolachio</span>
  </div>
  <!-- Copyright -->
</footer>
