footer{
  height: 60px;
  border-top: 0.5px solid #f3f3f34d;
  background-color: #232323;
}

span{
  color: #D49BB0;
  font-weight: bold;
}

.copy p {
  position: relative;
  top: 1.2em;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(.5em + .4vw);
}

@media only screen and (max-width: 400px) {
  .copy{
    margin-top: .7em;
  }
}
