<section class="vh-100" id="inicio-sesion">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="login col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <h2 class="h2">Bienvenido</h2>
        <hr>
        <form>
          <!-- User input -->
          <div class="form-outline mb-4">
            <input type="text" id="form1Example13" class="form-control form-control-lg" />
            <label class="form-label" for="form1Example13">Usuario</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="form1Example23" class="form-control form-control-lg" />
            <label class="form-label" for="form1Example23">Contraseña</label>
          </div>
          <!-- Submit button -->
          <button type="submit" class="button ingresar">Ingresar</button>
        </form>
      </div>
    </div>
  </div>

</section>
