form button{
  border: none;
}

#inicio-sesion{
  background-image: url(~src/assets/footer-bg.svg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 100vh;
}

.login{
  box-shadow: 0 10px 20px #00000080;
  background: #232323;
  padding: 1em 2em;
  border-radius: 1em;
  text-align: center;
}
