@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

.bodyG {
  font-family: 'Cairo', sans-serif;
  background: #313131;
  color: #f3f3f3;
}

/*Buttons*/
.button {
  font-size: calc(.6em + .5vw);
  display: inline-flex;
  align-items: center;
  column-gap: .5em;
  background-color: #232323;
  color: #f3f3f3f3;
  padding: .75em 1.4em;
  border-radius: .25em;
  position: relative;
  z-index: 1;
  white-space: nowrap;
}

.button::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: center;
  background-color: #232323;
  color: #f3f3f3f3;
  z-index: -1;
  border-radius: .25em;
  transition: .2s;
}

.button:hover::before {
  transform: scale(1);
  color: #f3f3f3f3;
  background: #21aaaa;
  background: -webkit-linear-gradient(to right, #D49BB0, #21aaaa);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D49BB0, #21aaaa);
  transition: 0.4s ease;
}

/*Section*/
.section {
  padding: 5em 0 2em;
  min-height: 100vh;
  overflow: hidden;
}

.section1{
  padding-top: 2em;
  overflow: hidden;
}

.section2{
  padding-top: 5em;
  overflow: hidden;
}

.contacto{
  padding: 5em 0 2em;
  overflow: hidden;
}

.titulo-section {
  text-align: center;
  position: relative;
}

.titulo-section:before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100px;
  bottom: -8px;
  background: #21aaaa;
  background: -webkit-linear-gradient(to right, #D49BB0, #21aaaa);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D49BB0, #21aaaa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


@media only screen and (max-width: 400px){
  .section{
    padding: 4em 0 1em;
    height: max-content;
  }

  .section1{
    padding-top: 4em;
  }

  .section2{
    overflow: visible;
  }

}
