<section id="proyectos" class="proyectos section1">
  <div data-aos="zoom-in-up" class="d-flex justify-content-center">
    <h2 class="h2 titulo-section">Mis Proyectos</h2>
  </div>
  <div data-aos="fade-up-left" class="proyectos-cards-container">
    <swiper class="project_cards my-swiper my_swiper" [config]="config"
        style="--swiper-navigation-color: #f3f3f3;--swiper-pagination-color: #D9A0BB">
        <ng-template swiperSlide class="swiper_slide swiper-slide">
            <div class="proyecto-card">
                <div class="proyecto-header" id="proyecto-header">
                    <img src="./assets/PortfolioAP.jpg" alt="Imagen del proyecto">
                </div>
                <div class="proyecto-contenido">
                    <h3 class="nombre" id="nombre">Portfolio Full Stack</h3>
                    <div class="buttons-vista">
                      <button>
                        <fa-icon class="button" [icon]="faGithub"></fa-icon>
                      </button>
                      <button>
                        <fa-icon class="button" [icon]="faDesktop"></fa-icon>
                      </button>
                    </div>
                </div>

            </div>
        </ng-template>
        <ng-template swiperSlide class="swiper_slide swiper-slide">
            <div class="proyecto-card">
                <div class="proyecto-header" id="proyecto-header">
                    <img src="./assets/Calculadora.jpg" alt="Imagen del proyecto">
                </div>
                <div class="proyecto-contenido">
                    <h3 class="nombre" id="nombre">Calculadora</h3>
                    <div class="buttons-vista">
                      <button>
                        <fa-icon class="button" [icon]="faGithub"></fa-icon>
                      </button>
                      <button>
                        <fa-icon class="button" [icon]="faDesktop"></fa-icon>
                      </button>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template swiperSlide class="swiper_slide swiper-slide">
            <div class="proyecto-card">
                <div class="proyecto-header" id="proyecto-header">
                    <img src="./assets/Calendario.jpg" alt="Imagen del proyecto">
                </div>
                <div class="proyecto-contenido">
                    <h3 class="nombre" id="nombre">Calendario</h3>
                    <div class="buttons-vista">
                      <button>
                        <fa-icon class="button" [icon]="faGithub"></fa-icon>
                      </button>
                      <button>
                        <fa-icon class="button" [icon]="faDesktop"></fa-icon>
                      </button>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template swiperSlide class="swiper_slide swiper-slide">
            <div class="proyecto-card">
                <div class="proyecto-header" id="proyecto-header">
                    <img src="./assets/Pokedex.jpg" alt="Imagen del proyecto">
                </div>
                <div class="proyecto-contenido">
                    <h3 class="nombre" id="nombre">Pokédex</h3>
                    <div class="buttons-vista">
                      <button>
                        <fa-icon class="button" [icon]="faGithub"></fa-icon>
                      </button>
                      <button>
                        <fa-icon class="button" [icon]="faDesktop"></fa-icon>
                      </button>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template swiperSlide class="swiper_slide swiper-slide">
            <div class="proyecto-card">
              <div class="proyecto-header" id="proyecto-header">
                <img src="./assets/TaTeTi.jpg" alt="Imagen del proyecto">
            </div>
                <div class="proyecto-contenido">
                    <h3 class="nombre" id="nombre">Ta-Te-Ti</h3>
                    <div class="buttons-vista">
                      <button>
                        <fa-icon class="button" [icon]="faGithub"></fa-icon>
                      </button>
                      <button>
                        <fa-icon class="button" [icon]="faDesktop"></fa-icon>
                      </button>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template swiperSlide class="swiper_slide swiper-slide">
            <div class="proyecto-card">
                <div class="proyecto-header" id="proyecto-header">
                    <img src="./assets/MathQuiz.jpg" alt="Imagen del proyecto">
                </div>
                <div class="proyecto-contenido">
                    <h3 class="nombre" id="nombre">Math Quiz</h3>
                    <div class="buttons-vista">
                      <button>
                        <fa-icon class="button" [icon]="faGithub"></fa-icon>
                      </button>
                      <button>
                        <fa-icon class="button" [icon]="faDesktop"></fa-icon>
                      </button>
                    </div>
                </div>
            </div>
        </ng-template>
    </swiper>
  </div>
</section>
